<%
  if @conjunto_grupo_corrida.blank? || @conjunto_grupo_corrida.instance_variable_get("@table").keys.blank?
    if @conjunto_grupo_corrida_bike.present? && @conjunto_grupo_corrida_bike.instance_variable_get("@table").keys.present?
      @conjunto = @conjunto_grupo_corrida_bike
    end
  else
    @conjunto = @conjunto_grupo_corrida
  end
%>

<% if @conjunto.present? && @conjunto.instance_variable_get("@table").keys.present? %>

<style type="text/css">
  .modalFundo{
    background-color: #000;position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 2;
  }

  .modalContent{
    background-color: #000;position: absolute;width: 100%;max-height: 300px;z-index: 3;top: 20px;left: 0px;text-align: center;color: #fff;
    padding: 5% 10% 5% 10%;
  }

  .modalContent .box{
    position: relative;
    margin-bottom: 20px;
  }

  #modal{
    font-family: 'gotham-bold';
  }

  .modalContent .infos{
    z-index: 4;
    background: #404040;
    width: 100%;
    top: 50%;
    border-radius: 20px;
    padding-bottom: 20px;
  }

  .modalContent .infos .badget-price{
    font-size: 20px;
    line-height: 0px;
  }

  .modalContent .infos .title{
    font-size: 20px;
    margin-top: 20px;
  }

  .modalContent .infos .descricao{
    font-size: 15px;
  }

  .modalContent .infos button{
    background: #ea7214;
    font-size: 24px;
    border-radius: 6px;
    padding: 5px 20px 5px 20px;
    border: 0px;
  }

  .modalContent .infos .texto{
    font-size: 20px;
  }

  .modalContent .infos select{
    font-size: 20px;
    width: 200px;
    color: #000;
    background: #fff;
  }

  .box-km{
    padding: 5px!important;
  }

</style>

<div id="modal" style="display: none;">
  <div class="modalFundo"></div>
  <div id="modalContent" class="modalContent"></div>
</div>

<script src="/funil/pagamento.js?<%= Time.now.to_i %>" ></script>
<div class="col-lg-5 offset-lg-2">
    <!-- <form action="/99run/login/comprar/grupo-corrida" method="post" id="formPostLogin"> -->
    <div action="/99run/login/comprar/grupo-corrida" method="post" id="formPostLogin">
        <h1 class="total">
            Valor a ser pago<br><span class="price"><%= number_to_currency(@conjunto.valor || @conjunto.grupos[0]["preco"]) %></span>
        </h1>
        <div class="box-km">
            <h3 class="title badge-gradient d-inline-block">Passo 1:</h3>
            <p class="text">Qual distância você vai fazer?</p>
            <% if (@conjunto_grupo_corrida_bike.present? && @conjunto_grupo_corrida_bike.grupos.present?) || (@conjunto_grupo_corrida_natacao.present? && @conjunto_grupo_corrida_natacao.grupos.present?) || (@conjunto_grupo_corrida_duathlon.present? && @conjunto_grupo_corrida_duathlon.grupos.present?) || (@conjunto_grupo_corrida_triathlon.present? && @conjunto_grupo_corrida_triathlon.grupos.present?) && @conjunto_grupo_corrida.present? && @conjunto_grupo_corrida.grupos.present?  %>
              <div style="color: #fff; font-size: 1.3em; padding-left: 5px; margin-bottom: -10px;">Corrida:</div>
            <% end %>

            <input type="hidden" name="kit_id" id="kit_id" value="">
            <input type="hidden" name="preco_kit" id="preco_kit" value="<%= @conjunto.valor || @conjunto.grupos[0]["preco"] %>">
            <input type="hidden" name="tamanho_camiseta" id="tamanho_camiseta" value="">

            <%= render 'conjunto_grupo_corrida_kms', {conjunto_grupo_corrida: @conjunto_grupo_corrida} %>
            
            <% if @conjunto_grupo_corrida_bike.present? && @conjunto_grupo_corrida_bike.grupos.present? %>
              <div style="color: #fff; font-size: 1.3em; padding-left: 5px; margin-bottom: -10px; margin-top: 5px;">Bicicleta:</div>
              <%= render 'conjunto_grupo_corrida_kms', {conjunto_grupo_corrida: @conjunto_grupo_corrida_bike} %>
            <% end %>

            <% if @conjunto_grupo_corrida_natacao.present? && @conjunto_grupo_corrida_natacao.grupos.present? %>
              <div style="color: #fff; font-size: 1.3em; padding-left: 5px; margin-bottom: -10px; margin-top: 5px;">Natação:</div>
              <%= render 'conjunto_grupo_corrida_kms', {conjunto_grupo_corrida: @conjunto_grupo_corrida_natacao} %>
            <% end %>
            
            <% if @conjunto_grupo_corrida_duathlon.present? && @conjunto_grupo_corrida_duathlon.grupos.present? %>
              <div style="color: #fff; font-size: 1.3em; padding-left: 5px; margin-bottom: -10px; margin-top: 5px;">Duathlon:</div>
              <%= render 'conjunto_grupo_corrida_kms', {conjunto_grupo_corrida: @conjunto_grupo_corrida_duathlon} %>
            <% end %>

            <% if @conjunto_grupo_corrida_triathlon.present? && @conjunto_grupo_corrida_triathlon.grupos.present? %>
              <div style="color: #fff; font-size: 1.3em; padding-left: 5px; margin-bottom: -10px; margin-top: 5px;">Triathlon:</div>
              <%= render 'conjunto_grupo_corrida_kms', {conjunto_grupo_corrida: @conjunto_grupo_corrida_triathlon} %>
            <% end %>
        </div>

        <div id="box-km" class="box-km mt-4">
            <h3 class="title badge-gradient d-inline-block">Passo 2:</h3>
            <input type="hidden" name="pagina_id" value="<%= @pagina.id %>">
            <div class="form">
                <div class="form-row form-container mt-4">
                    <div class="col-12">
                        <i class="fas fa-mobile-alt"></i>
                        <input class="form-control telefone" placeholder="Insira seu celular aqui" type="tel" name="telefone" id="99RunPostLoginTelefone" value="<%= cookies[:telefone] %>">
                    </div>

                    <div class="col-12">
                        <i class="far fa-envelope"></i>
                        <input class="form-control" placeholder="Insira seu e-mail aqui" type="text" name="email" id="99RunPostLoginEmail" value="<%= cookies[:email] %>">
                    </div>
                </div>
            </div>

            <% valor_conjunto = @conjunto.valor || @conjunto.grupos[0]["preco"] %>
            <% unless valor_conjunto.to_f == 0 %>
              <a href="javascript:;" onclick="postFormCartao()" class="button-default-green d-block w-100 -aux cartaoClass">Em até 12x<br><span>no cartão de crédito</span></a>
              <span class="text-center font-light ou ouClass">ou</span>
              <a href="javascript:;" onclick="postFormBoleto()" class="d-block w-100 -aux-2 boletoClass">A vista no<br><span>boleto</span></a>
            <% else %>
              <a href="javascript:;" onclick="postFormBoleto()" class="button-default-green d-block w-100 -aux" style="padding:26px; padding-left: 140px;">Inscrever-se</span></a>
            <% end %>
            <input type="hidden" name="pagar_com_boleto" id="pagar_com_boleto" value="false">
            <input type="hidden" name="cod_marketing" id="cod_marketing_post" value="">
            <input type="hidden" name="preco" id="preco" value="
            <%= @conjunto.valor || @conjunto.grupos[0]["preco"] %>">
            <script type="text/javascript">
              function IsEmail(email) {
                var re = /\S+@\S+\.\S+/;
                return re.test(String(email).toLowerCase());
              }

              var postFormBoleto = function() {
                $("#pagar_com_boleto").val("true");
                postForm("boleto");
              }

              var postFormCartao = function() {
                $("#pagar_com_boleto").val("false");
                postForm("cartao");
              }

              var setSalvarDadosCookie = function() {
                $("#99RunPostLoginTelefone").blur(function(){
                  if(this.value != "" && this.value.length >= 15){
                    setCookie("telefone", this.value, 365);
                  }
                });
                
                $("#99RunPostLoginEmail").blur(function(){
                  if(this.value != "" && IsEmail(this.value)){
                    setCookie("email", this.value, 365);
                  }
                });
                
                $(".btn-group .btn").click(function(){
                  var input = $(this).find("input")
                  if(input.val() != ""){
                    setCookie("km", input.data("km"), 365);
                  }
                });
              }

              setSalvarDadosCookie();

              var postForm = function(forma_pagamento) {
                $("#cod_marketing_post").val($("#cod_marketing").val());

                var telefone = $("#99RunPostLoginTelefone").val();
                var email = $("#99RunPostLoginEmail").val();
                var kit_id = $("#kit_id").val();
                var preco_kit = $("#preco_kit").val();
                var tamanho_camiseta = $("#tamanho_camiseta").val();
                var grupo_corrida_id = $("input[name=grupo_corrida_id]:checked").val();

                if($("#99RunPostLoginTelefone").val() == ""){
                  $("#99RunPostLoginTelefone").val("");
                  $("#99RunPostLoginTelefone").focus();
                  $("#99RunPostLoginTelefone").attr("placeholder", "Preencha o telefone");
                  $("#99RunPostLoginTelefone").css("background", "#fbb67a")
                  $("#99RunPostLoginTelefone").blur(function(){
                    $(this).css("background", "#fff");
                  });
                  $("#99RunPostLoginTelefone").focus();
                  return;
                }

                if($("#99RunPostLoginEmail").val() == ""){
                  $("#99RunPostLoginEmail").val("");
                  $("#99RunPostLoginEmail").focus();
                  $("#99RunPostLoginEmail").attr("placeholder", "Preencha o e-mail");
                  $("#99RunPostLoginEmail").css("background", "#fbb67a")
                  $("#99RunPostLoginEmail").blur(function(){
                    $(this).css("background", "#fff");
                  });
                  return;
                }
                else if(!IsEmail($("#99RunPostLoginEmail").val())){
                  $("#99RunPostLoginEmail").val("");
                  $("#99RunPostLoginEmail").focus();
                  $("#99RunPostLoginEmail").attr("placeholder", "E-mail inválido tente novamente");
                  $("#99RunPostLoginEmail").css("background", "#fbb67a")
                  $("#99RunPostLoginEmail").blur(function(){
                    $(this).css("background", "#fff");
                  });
                  return;
                }
                else if($("input[name=grupo_corrida_id]:checked").length == 0){
                  alert("Selecione uma quilometragem");
                  return;
                }

                irParaPagamento(telefone, email, kit_id, tamanho_camiseta, forma_pagamento, grupo_corrida_id)

                // $('#formPostLogin').submit();

              }



              var irParaPagamento = function(telefone, email, kit_id, tamanho_camiseta, forma_pagamento, grupo_corrida_id) {

                dadosPagamento = {
                  "telefone": telefone,
                  "email": email,
                  "kit_id": kit_id,
                  "tamanho_camiseta": tamanho_camiseta,
                  "pagamento": forma_pagamento,
                  "grupo_corrida_id": grupo_corrida_id
                }

                // window.location.href = "https://www.99run.com/?fc=" + encodeURIComponent(dadosPagamento)
                window.location.href = "http://localhost:3000/?fc=" + encodeURIComponent(JSON.stringify(dadosPagamento))
              }

            </script>

            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
            <script type="text/javascript">
              $('.cep').mask('99999-999');
              $('.telefone').mask('(99) 99999-9999');
              $('.cpf').mask('999.999.999-99');
            </script>
        </div>
    </div>
    <!-- </form> -->
</div>
<% end %>
