<% if @conjunto_grupo_corrida.present? && @conjunto_grupo_corrida.instance_variable_get("@table").keys.present? %>

<style type="text/css">
  .modalFundo{
    background-color: #000;position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 2;opacity: 0.8;
  }

  .modalContent{
    background-color: #000;position: absolute;width: 100%;max-height: 300px;z-index: 3;top: 20px;left: 0px;text-align: center;color: #fff;
    padding: 5% 10% 5% 10%;
  }

  .modalContent .box{
    position: relative;
    margin-bottom: 20px;
  }

  .modalContent .infos{
    /*position: absolute;*/
    z-index: 4;
    background: #000;
    width: 100%;
    top: 50%;
    opacity: 0.9;
    padding: 20px;
  }

  .modalContent .infos .badget-price{
    font-size: 30px;
  }

  .modalContent .infos .title{
    font-size: 20px;
  }

  .modalContent .infos .descricao{
    font-size: 15px;
  }

  .modalContent .infos button{
    background: #000;
    font-size: 20px;
    border-radius: 6px;
    margin-top: 20px;
    padding: 5px 20px 5px 20px;
  }

  .modalContent .infos .texto{
    font-size: 20px;
  }

  .modalContent .infos select{
    font-size: 20px;
    width: 200px;
    color: #000;
    background: #fff;
  }

</style>

<div id="modal" style="display: none;">
  <div class="modalFundo"></div>
  <div id="modalContent" class="modalContent"></div>
</div>

<script src="/funil/pagamento.js?<%= Time.now.to_i %>" ></script>
<div class="col-lg-5 offset-lg-2">
    <form action="/99run/login/comprar/grupo-corrida" method="post" id="formPostLogin">
        <h1 class="total">
            Valor a ser pago<br><span class="price"><%= number_to_currency(@conjunto_grupo_corrida.valor || @conjunto_grupo_corrida.grupos[0]["preco"]) %></span> <span class="frete">frete <span class="badge-gradient">grátis</span></span>
        </h1>
        <div class="box-km">
            <h3 class="title badge-gradient d-inline-block">Passo 1:</h3>
            <p class="text">Qual distância você vai correr?</p>

            <div class="btn-group btn-group-toggle sizes mt-4" style="width: 100%;overflow: scroll;height: 70px;" data-toggle="buttons">

                <input type="hidden" name="kit_id" id="kit_id" value="">
                <input type="hidden" name="tamanho_camiseta" id="tamanho_camiseta" value="">


                <% @conjunto_grupo_corrida.grupos.each_with_index do |grupo, i|
                  if cookies[:km].present? 
                    if @conjunto_grupo_corrida.grupos.map{|g|g["desafio"]["distancia"]}.include?(cookies[:km])
                      ativo = cookies[:km] == grupo["desafio"]["distancia"]
                    else
                      ativo = (i == 0)
                    end  
                  else
                    ativo = (i == 0)
                  end
                  %>
                  <% if grupo["kits"].present? %>
                    <label class="btn btn-size" style="height: 36px;background-color: #000;"  onclick="promocao.escolherKit(<%= grupo["id"] %>)">
                      <input type="radio" name="grupo_corrida_id" data-km="<%= grupo["desafio"]["distancia"] %>" autocomplete="off" value='<%= grupo["id"] %>'> <%= grupo["desafio"]["distancia"] %>km
                    </label>
                    <div id="kitGrupo<%= grupo["id"] %>" style="display: none">
                      <div style="font-size: 40px;"><%= grupo["desafio"]["distancia"] %>km</div>
                      <div class="row">
                        <div class="col-12" id="kit">
                          <% grupo["kits"].each do |kit| %>
                            <div class="box">
                              <a href="<%= kit["imagem"] %>" target="_blank"><img src="<%= kit["imagem"] %>" alt="Avatar" class="image" style="width:100%"></a>
                              <div class="infos">
                                <span class="badget-price -aux-price"><strong>R$<%= kit["valor"] %></strong></span>
                                <h5 class="title"><%= kit["nome"] %></h5>
                                <hr>
                                <% if kit["descricao"].present? %>
                                  <ul style="text-align: left;">
                                    <% kit["descricao"].split("\r\n").each do |item| %>
                                      <li class="descricao"><%= item %></li>
                                    <% end %>
                                  </ul>
                                <% end %>
                                <% 
                                opcoes = []
                                if kit["produtos"].present? 
                                  kit["produtos"].each do |produto|
                                    if produto["slug"].downcase.include?("camiseta")
                                      opcoes = produto["detalhes"][0]["campos"][0]["options"].split("\r\n")
                                    end
                                  end
                                end

                                if opcoes.present?
                                %>
                                  <div class="camiseta">
                                    <div class="texto">
                                      Qual o tamanho da camiseta
                                    </div>
                                    <select id="tamanhoCamisa<%= grupo["id"] %>">
                                      <% opcoes.each do |opt| %>
                                      <option value="<%= opt %>"><%= opt %></option>
                                      <% end %>
                                    </select>
                                  </div>
                                <% end %>
                                <hr>

                                <button onclick="promocao.kitEscolhido(<%= kit.to_json %>, this)">Escolher este</button>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <label class="btn btn-size <%= ativo ? "active" : "" %>" style="height: 36px;">
                      <input type="radio" name="grupo_corrida_id" data-km="<%= grupo["desafio"]["distancia"] %>" autocomplete="off" value='<%= grupo["id"] %>'  <%= ativo ? "checked" : "" %>> <%= grupo["desafio"]["distancia"] %>km
                    </label>
                  <% end %>
                <% end %>
            </div>
        </div>

        <div id="box-km" class="box-km mt-4">
            <h3 class="title badge-gradient d-inline-block">Passo 2:</h3>
            <input type="hidden" name="pagina_id" value="<%= @pagina.id %>">
            <div class="form">
                <div class="form-row form-container mt-4">
                    <div class="col-12">
                        <i class="fas fa-mobile-alt"></i>
                        <input class="form-control telefone" placeholder="Insira seu celular aqui" type="tel" name="telefone" id="99RunPostLoginTelefone" value="<%= cookies[:telefone] %>">
                    </div>

                    <div class="col-12">
                        <i class="far fa-envelope"></i>
                        <input class="form-control" placeholder="Insira seu e-mail aqui" type="text" name="email" id="99RunPostLoginEmail" value="<%= cookies[:email] %>">
                    </div>
                </div>
            </div>

            <a href="javascript:;" onclick="postFormCartao()" class="button-default-green d-block w-100 -aux">Em até 12x<br><span>no cartão de crédito</span></a>
            <span class="text-center font-light ou">ou</span>
            <a href="javascript:;" onclick="postFormBoleto()" class="d-block w-100 -aux-2">A vista no<br><span>boleto</span></a>
            <input type="hidden" name="pagar_com_boleto" id="pagar_com_boleto" value="false">
            <input type="hidden" name="cod_marketing" id="cod_marketing_post" value="">
            <input type="hidden" name="preco" id="preco" value="
            <%= @conjunto_grupo_corrida.valor || @conjunto_grupo_corrida.grupos[0]["preco"] %>">
            <script type="text/javascript">
              function IsEmail(email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(email).toLowerCase());
              }

              var postFormBoleto = function() {
                $("#pagar_com_boleto").val("true");
                postForm();
              }

              var postFormCartao = function() {
                $("#pagar_com_boleto").val("false");
                postForm();
              }

              var setSalvarDadosCookie = function() {
                $("#99RunPostLoginTelefone").blur(function(){
                  if(this.value != "" && this.value.length >= 15){
                    setCookie("telefone", this.value, 365);
                  }
                });
                
                $("#99RunPostLoginEmail").blur(function(){
                  if(this.value != "" && IsEmail(this.value)){
                    setCookie("email", this.value, 365);
                  }
                });
                
                $(".btn-group .btn").click(function(){
                  var input = $(this).find("input")
                  if(input.val() != ""){
                    setCookie("km", input.data("km"), 365);
                  }
                });
              }

              setSalvarDadosCookie();

              var postForm = function() {
                $("#cod_marketing_post").val($("#cod_marketing").val());

                if($("#99RunPostLoginTelefone").val() == ""){
                  $("#99RunPostLoginTelefone").val("");
                  $("#99RunPostLoginTelefone").focus();
                  $("#99RunPostLoginTelefone").attr("placeholder", "Preencha o telefone");
                  $("#99RunPostLoginTelefone").css("background", "#fbb67a")
                  $("#99RunPostLoginTelefone").blur(function(){
                    $(this).css("background", "#fff");
                  });
                  $("#99RunPostLoginTelefone").focus();
                  return;
                }

                if($("#99RunPostLoginEmail").val() == ""){
                  $("#99RunPostLoginEmail").val("");
                  $("#99RunPostLoginEmail").focus();
                  $("#99RunPostLoginEmail").attr("placeholder", "Preencha o e-mail");
                  $("#99RunPostLoginEmail").css("background", "#fbb67a")
                  $("#99RunPostLoginEmail").blur(function(){
                    $(this).css("background", "#fff");
                  });
                  return;
                }
                else if(!IsEmail($("#99RunPostLoginEmail").val())){
                  $("#99RunPostLoginEmail").val("");
                  $("#99RunPostLoginEmail").focus();
                  $("#99RunPostLoginEmail").attr("placeholder", "E-mail inválido tente novamente");
                  $("#99RunPostLoginEmail").css("background", "#fbb67a")
                  $("#99RunPostLoginEmail").blur(function(){
                    $(this).css("background", "#fff");
                  });
                  return;
                }
                else if($("input[name=grupo_corrida_id]:checked").length == 0){
                  alert("Selecione uma quilometragem");
                  return;
                }

                $('#formPostLogin').submit();
              }
            </script>

            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
            <script type="text/javascript">
              $('.cep').mask('99999-999');
              $('.telefone').mask('(99) 99999-9999');
              $('.cpf').mask('999.999.999-99');
            </script>
        </div>
    </form>
</div>
<% end %>
