<% if @conjunto_grupo_corrida.present? && @conjunto_grupo_corrida.instance_variable_get("@table").keys.present? %>
<div class="col-lg-5 offset-lg-2">
    <form action="/99run/login/comprar/grupo-corrida" method="post" id="formPostLogin">
        <h1 class="total">
            Valor a ser pago<br><span class="price"><%= number_to_currency(@conjunto_grupo_corrida.grupos[0]["preco"]) %></span> <span class="frete">frete <span class="badge-gradient">grátis</span></span>
        </h1>
        <div class="box-km">
            <h3 class="title badge-gradient d-inline-block">Passo 1:</h3>
            <p class="text">Qual distância você vai correr?</p>

            <div class="btn-group btn-group-toggle sizes mt-4" data-toggle="buttons">

                <% @conjunto_grupo_corrida.grupos.each_with_index do |grupo, i| %>
                <label class="btn btn-size <%= i == 0 ? "active" : "" %>">
                    <input type="radio" name="grupo_corrida_id" autocomplete="off" value='<%= grupo["id"] %>'  <%= i == 0 ? "checked" : "" %>> <%= grupo["desafio"]["distancia"] %>km
                </label>
                <% end %>
            </div>
        </div>

        <div class="box-km mt-4">
            <h3 class="title badge-gradient d-inline-block">Passo 2:</h3>
            <input type="hidden" name="pagina_id" value="<%= @pagina.id %>">
            <div class="form">
                <div class="form-row form-container mt-4">
                    <div class="col-12">
                        <i class="fas fa-mobile-alt"></i>
                        <input class="form-control telefone" placeholder="Insira seu celular aqui" type="tel" name="telefone" id="99RunPostLoginTelefone">
                    </div>

                    <div class="col-12">
                        <i class="far fa-envelope"></i>
                        <input class="form-control" placeholder="Insira seu e-mail aqui" type="text" name="email" id="99RunPostLoginEmail">
                    </div>
                </div>
            </div>

            <a href="javascript:;" onclick="postFormCartao()" class="button-default-green d-block w-100 -aux">Em até 12x<br><span>no cartão de crédito</span></a>
            <span class="text-center font-light ou">ou</span>
            <a href="javascript:;" onclick="postFormBoleto()" class="d-block w-100 -aux-2">A vista no<br><span>boleto</span></a>
            <input type="hidden" name="pagar_com_boleto" id="pagar_com_boleto" value="false">
            <input type="hidden" name="cod_marketing" id="cod_marketing_post" value="">
            <script type="text/javascript">
              var postFormBoleto = function() {
                $("#pagar_com_boleto").val("true");
                postForm();
              }

              var postFormCartao = function() {
                $("#pagar_com_boleto").val("false");
                postForm();
              }

              var postForm = function() {
                $("#cod_marketing_post").val($("#cod_marketing").val());

                if($("#99RunPostLoginTelefone").val() == ""){
                  $("#99RunPostLoginTelefone").val("");
                  $("#99RunPostLoginTelefone").focus();
                  $("#99RunPostLoginTelefone").attr("placeholder", "Preencha o telefone");
                  $("#99RunPostLoginTelefone").css("background", "#fbb67a")
                  $("#99RunPostLoginTelefone").blur(function(){
                    $(this).css("background", "#fff");
                  });
                  $("#99RunPostLoginTelefone").focus();
                  return;
                }

                if($("#99RunPostLoginEmail").val() == ""){
                  $("#99RunPostLoginEmail").val("");
                  $("#99RunPostLoginEmail").focus();
                  $("#99RunPostLoginEmail").attr("placeholder", "Preencha o e-mail");
                  $("#99RunPostLoginEmail").css("background", "#fbb67a")
                  $("#99RunPostLoginEmail").blur(function(){
                    $(this).css("background", "#fff");
                  });
                  return;
                }
                else if(!IsEmail($("#99RunPostLoginEmail").val())){
                  $("#99RunPostLoginEmail").val("");
                  $("#99RunPostLoginEmail").focus();
                  $("#99RunPostLoginEmail").attr("placeholder", "Preencha o e-mail");
                  $("#99RunPostLoginEmail").css("background", "#fbb67a")
                  $("#99RunPostLoginEmail").blur(function(){
                    $(this).css("background", "#fff");
                  });
                  return;
                }

                $('#formPostLogin').submit();
              }
            </script>

            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
            <script type="text/javascript">
              $('.cep').mask('99999-999');
              $('.telefone').mask('(99) 99999-9999');
              $('.cpf').mask('999.999.999-99');
            </script>
        </div>
    </form>
</div>
<% end %>
