<% if conjunto_grupo_corrida.present? && conjunto_grupo_corrida.grupos.present? %>
<div class="btn-group btn-group-toggle sizes mt-4" style="width: 100%;display: inline-block;" data-toggle="buttons">

  <% conjunto_grupo_corrida.grupos.each_with_index do |grupo, i|
    if cookies[:km].present? 
      if conjunto_grupo_corrida.grupos.map{|g|g["desafio"]["distancia"]}.include?(cookies[:km])
        ativo = cookies[:km] == grupo["desafio"]["distancia"]
      else
        ativo = (i == 0)
      end  
    else
      ativo = (i == 0)
    end
    %>

    <% if grupo["kits"].present? %>
      <label class="btn btn-size" style="height: 36px;background-color: #000;" onclick="promocao.escolherKit(<%= grupo["id"] %>)">
        <input type="radio" name="grupo_corrida_id" class="grupo_corrida_id" data-km="<%= grupo["desafio"]["distancia"] %>" autocomplete="off" value='<%= grupo["id"] %>'>

        <!-- @conjunto_grupo_corrida.grupos[0]["desafios"][0]["distancia_altimetria"] -->
            <!-- <%#= grupo["desafios"].map{|d| "#{d["distancia_altimetria"]}MA"}.join(" + ") %> -->
        <% if grupo["sem_limite"] %>
          SEM LIMITE
        <% elsif grupo["desafios"].count == 2 && grupo["desafios"][0]["distancia"] == grupo["desafios"][1]["distancia"] && grupo["desafios"][0]["distancia"].to_f != 0 %>
          <%= "#{grupo["desafios"][0]["distancia"]}K DUPLO" %>
        <% elsif grupo["desafios"].count == 3 && grupo["desafios"][0]["distancia"] == grupo["desafios"][1]["distancia"] && grupo["desafios"][0]["distancia"] == grupo["desafios"][2]["distancia"] && grupo["desafios"][0]["distancia"].to_f != 0 %>
          <%= "#{grupo["desafios"][0]["distancia"]}K TRIPLO" %>
        <% else %>
          <% distancias = []
            grupo["desafios"].each do |d|
              if d["distancia"].to_f == 0
                distancias << "#{d["distancia_altimetria"]}MA"
              else
                distancias << "#{d["distancia"]}K"
              end
            end
          %>

          <%= distancias.join(" + ")%>
          <%#= grupo["desafios"].map{|d| "#{d["distancia"]}K"}.join(" + ") %>
        <% end %>
      </label>
      <div id="kitGrupo<%= grupo["id"] %>" style="display: none">
        <% if grupo["sem_limite"] %>
          <div style="font-size: 40px;" class="desafio-km">SEM LIMITE</div>
        <% elsif grupo["desafios"].count == 2 && grupo["desafios"][0]["distancia"] == grupo["desafios"][1]["distancia"] && grupo["desafios"][0]["distancia"].to_f != 0 %>
          <div style="font-size: 40px;" class="desafio-km"><%= "#{grupo["desafios"][0]["distancia"]}K DUPLO" %></div>
        <% elsif grupo["desafios"].count == 3 && grupo["desafios"][0]["distancia"] == grupo["desafios"][1]["distancia"] && grupo["desafios"][0]["distancia"] == grupo["desafios"][2]["distancia"] && grupo["desafios"][0]["distancia"].to_f != 0 %>
          <div style="font-size: 40px;" class="desafio-km"><%= "#{grupo["desafios"][0]["distancia"]}K TRIPLO" %></div>
        <% else %>
          <% distancias = []
            grupo["desafios"].each do |d|
              if d["distancia"].to_f == 0
                distancias << "#{d["distancia_altimetria"]}MA"
              else
                distancias << "#{d["distancia"]}K"
              end
            end
          %>
          
          <div style="font-size: 40px;" class="desafio-km"><%= distancias.join(" + ")%></div>
          <!-- <div style="font-size: 40px;" class="desafio-km"><%#= grupo["desafios"].map{|d| "#{d["distancia"]}K"}.join(" + ") %></div> -->
        <% end %>
        <div style="font-size: 20px;color: #ccc" class="mudar-km">
          <a href="javascript:;" onclick="promocao.changeKM();" id="mudarKilometragem">
          <!-- <a href="javascript:;" onclick="$('.infos button').trigger('click');" id="mudarKilometragem"> -->
            Mudar quilometragem
          </a>
        </div>
        <div style="font-size: 20px;" class="qual-kit-quer">Escolha qual kit quer</div>
        <div class="row" style="max-width: 600px;display: inline-block;">
          <div class="col-12" id="kit">
            <% grupo["kits"].each do |kit| %>
              <div class="box">
                <div class="infos">
                  <a href="<%= kit["banner"] %>" target="_blank"><img src="<%= kit["banner"] %>" alt="Avatar" class="image" style="width:100%"></a>
                  <br>
                  <h5 class="title"><%= kit["nome"] %></h5>
                  <%
                    if conjunto_grupo_corrida.id == 566 || conjunto_grupo_corrida.id == 567 
                      valor_kit = kit["valor"] + (kit["valor"] / 9)
                    else
                      valor_kit =  kit["valor"]
                    end
                  %>
                  <span class="badget-price -aux-price"><strong>R$<%= valor_kit.round(2) %></strong></span>
                  <% if kit["descricao"].present? %>
                    <ul style="text-align: left;">
                      <% kit["descricao"].split("\r\n").each do |item| %>
                        <li class="descricao"><%= item %></li>
                      <% end %>
                    </ul>
                  <% end %>
                  <% 
                  opcoes_tamanho = []
                  opcoes_modelo = []
                  if kit["produtos"].present? 
                    kit["produtos"].each do |produto|
                      if produto["slug"].downcase.include?("camiseta")
                        opcoes_tamanho = produto["detalhes"][0]["campos"][0]["options"].split("\r\n") rescue []
                        opcoes_modelo = produto["detalhes"][0]["campos"][1]["options"].split("\r\n") rescue []
                        
                        if opcoes_tamanho.present? || opcoes_modelo.present?
                        %>
                          <div style="border: 1px solid #fff; padding: 8px;">
                          <h2 style="font-size: 2.3rem;"><%= produto["slug"].capitalize %></h2>
                          <%
                          if opcoes_tamanho.present?
                          %>
                            <div class="camiseta">
                              <div class="texto">
                                Qual o tamanho da camiseta?
                              </div>
                              <select id="tamanhoCamisa<%= grupo["id"] %>" class='tamanhoCamiseta'>
                                <% opcoes_tamanho.each do |opt| %>
                                  <option value="<%= produto["slug"] %>: <%= opt %>"><%= opt %></option>
                                <% end %>
                              </select>
                            </div>
                          <% end %>

                          <%
                          if opcoes_modelo.present?
                          %>
                            <div class="camiseta">
                              <div class="texto">
                                Qual o modelo da camiseta?
                              </div>
                              <select id="modeloCamisa<%= grupo["id"] %>" class='modeloCamiseta'>
                                <% opcoes_modelo.each do |opt| %>
                                <option value="<%= produto["slug"] %>: <%= opt %>"><%= opt %></option>
                                <% end %>
                              </select>
                            </div>
                          <% end %>
                        </div>
                        <% end %>
                      <% end
                    end
                  end %>
                  <hr>

                  <% if conjunto_grupo_corrida.id == 566 || conjunto_grupo_corrida.id == 567 %>
                    <button onclick="promocao.kitEscolhido(<%= kit.to_json %>, this, true); descontado = false;">Escolher este</button>
                  <% else %>
                    <button onclick="promocao.kitEscolhido(<%= kit.to_json %>, this,)">Escolher este</button>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <label class="btn btn-size <%= ativo ? "active" : "" %>" style="height: 36px;">
        <input type="radio" name="grupo_corrida_id" class="grupo_corrida_id" data-km="<%= grupo["desafio"]["distancia"] %>" autocomplete="off" value='<%= grupo["id"] %>'  <%= ativo ? "checked" : "" %>><%= grupo["desafio"]["distancia"] %>k
      </label>
    <% end %>
  <% end %>
</div>
<% end %>
