<% if @usuario.present? && @usuario.id.present? %>
  <% if @usuario.cpf.blank? || @mudasenha.present? %>
  <script src="/funil/pagamento.js?<%= Time.now.to_i %>" ></script>
  <br>
  <br>
  <div class="row" style="width: 100%;display: inline-block;text-align: left;">
    <h1 style="margin-top: 30px;color: #fff">Confirme os seus dados</h1>
    <div class="form-container active mt-4 cadastro">
       <form class="cadastro">
          <div class="form-row form-container mt-4">

            <div id="stepnome" class="col-12" style="display: block">
              <div class="col-12">
                <label style="color: #fff" for="nome">Nome</label>
                <input class="form-control" value="<%= @usuario.nome %>" placeholder="Nome" type="text" name="nome" id="nome">
              </div>

              <div class="col-12" style="margin-top: 30px">
                <button class="button-default-green d-block w-100" onclick="promocao.updateUsuario(<%= @usuario.id %>, 'nome', '<%= @mudasenha.present? ? "stepsenha" : "stepcpf" %>', event)" >Próximo</button>
              </div>
            </div>

            <div id="stepsenha" class="col-12" style="display: none">
              <div class="col-12">
                <label style="color: #fff" for="senha">Senha</label>
                <input class="form-control" placeholder="Senha" type="password" name="senha" id="senha">
              </div>

              <div class="col-12">
                <label style="color: #fff" for="senha">Confirmação de senha</label>
                <input class="form-control" placeholder="Confirmação de senha" type="password" name="csenha" id="csenha">
              </div>

              <div class="col-12" style="margin-top: 30px">
                <button class="button-default-green d-block w-100" onclick="promocao.updateUsuario(<%= @usuario.id %>, 'senha', 'stepcpf', event)" >Próximo</button>
              </div>
            </div>
            
            <div id="stepcpf" class="col-12" style="display: none">
              <div class="col-12">
                <label style="color: #fff" for="cpf">CPF</label>
                <input class="form-control cpf" value="<%= @usuario.cpf %>" placeholder="CPF" type="text" name="cpf" id="cpf">
              </div>

              <div class="col-12" style="margin-top: 30px">
                <button class="button-default-green d-block w-100" onclick="promocao.updateUsuario(<%= @usuario.id %>, 'cpf', 'steptelefone', event)" >Próximo</button>
              </div>
            </div>

            <div id="steptelefone" class="col-12" style="display: none">
              <div class="col-12">
                <label style="color: #fff" for="telefone">Telefone</label>
                <input class="form-control telefone" value="<%= @usuario.telefone %>" placeholder="Telefone" type="text" name="telefone" id="telefone">
              </div>

              <div class="col-12" style="margin-top: 30px">
                <button class="button-default-green d-block w-100" onclick="promocao.updateUsuario(<%= @usuario.id %>, 'telefone', 'stepemail', event, true)" >Próximo</button>
              </div>
            </div>

            <div id="stepemail" class="col-12" style="display: none">
              <div class="col-12">
                <label style="color: #fff" for="email">E-mail</label>
                <input class="form-control" value="<%= @usuario.email %>" placeholder="E-mail" type="text" name="email" id="email">
              </div>
            </div>

            <div id="stepFim" style="display: none" class="col-12 mt-5 text-center">
              <a class="button-default-green d-block w-100" href="javascript:;" onclick="promocao.atualizar(this, <%= @pagina.id %>, <%= @pagina.produto_id %>);" placeholder="CVC" >Atualizar cadastro</a>
            </div>
          </div>
      </form>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
    <script type="text/javascript">
      $('.telefone').mask('(99) 99999-9999');
      $('.cpf').mask('999.999.999-99');
    </script>
  </div>
  <% end %>
<% end %>
