<% if @usuario.present? && @usuario.id.present? %>
  <% if @usuario.cpf.blank? || @mudasenha.present? %>
  <script src="/funil/pagamento.js?<%= Time.now.to_i %>" ></script>
  <script src="/funil/facebookConnectPlugin.js"></script>
  <script src="/funil/htmlFacebookConnectPlugin.js"></script>
  <br>
  <br>
  <style type="text/css">
    .box-progress{
      width: 100%;
      text-align: center;
      position: relative;
    }

    .progress{
      height: 15px;
      background-color: #777;
      position: relative;
      display: inline-block;
      width: 95%;
    }

    .progress .progress-bar{
      position: absolute;
      height: 100%;
      background-color: #4ac132;
      width: 0%;
    }

    .progress span{
      font-size: 12px;
      position: absolute;
      margin-left: -35px;
    }
  </style>
  <div class="row" style="width: 100%;display: inline-block;text-align: left;">
    <h1 style="margin-top: 30px;color: #fff">Confirme os seus dados</h1>
    <div class="form-container active mt-4 cadastro">
       <form class="cadastro">
          <div class="form-row form-container mt-4">

            <div id="stepnome" class="col-12" style="display: block">

              <div class="box-progress">
                <div class="progress">
                  <div class="progress-bar" style="width: 20%;"></div>
                  <span>1 de 5 perguntas</span>
                </div>
              </div>

              <div class="col-12">
                <label style="color: #fff" for="nome">Nome</label>
                <input class="form-control" value="<%= @usuario.nome %>" placeholder="Nome" type="text" name="nome" id="nome">
              </div>

              <div class="col-12" style="margin-top: 30px">
                <button class="button-default-green d-block w-100" onclick="promocao.updateUsuario(<%= @usuario.id %>, 'nome', '<%= @mudasenha.present? ? "stepsenha" : "stepcpf" %>', event)" >Próximo</button>
              </div>
            </div>

            <div id="stepsenha" class="col-12" style="display: none">

              <div class="box-progress">
                <div class="progress">
                  <div class="progress-bar" style="width: 40%;"></div>
                  <span>2 de 5 perguntas</span>
                </div>
              </div>

              <div class="col-12">
                <label style="color: #fff" for="senha">Conectar com</label>
                <button type="button" onclick="promocao.updateFacebook(<%= @usuario.id %>, 'senha', 'stepcpf', event)" class="btn btn-primary" style="width: 100%;font-size: 30px;font-weight: bold;padding: 15px;">Facebook</button>
                <div class="col-12" style="text-align: center;font-size: 40px;color: #fff;font-weight: bold;margin-top: 10px;">
                  OU
                </div>
              </div>
              
              <div class="col-12">
                <label style="color: #fff" for="senha">Senha</label>
                <input class="form-control" placeholder="Senha" type="password" name="senha" id="senha">
              </div>

              <div class="col-12">
                <label style="color: #fff" for="senha">Confirmação de senha</label>
                <input class="form-control" placeholder="Confirmação de senha" type="password" name="csenha" id="csenha">
              </div>

              <div class="col-12" style="margin-top: 30px">
                <button class="button-default-green d-block w-100" onclick="promocao.updateUsuario(<%= @usuario.id %>, 'senha', 'stepcpf', event)" >Próximo</button>
              </div>
            </div>
            
            <div id="stepcpf" class="col-12" style="display: none">

              <div class="box-progress">
                <div class="progress">
                  <div class="progress-bar" style="width: 60%;"></div>
                  <span>3 de 5 perguntas</span>
                </div>
              </div>

              <div class="col-12">
                <label style="color: #fff" for="cpf">CPF</label>
                <input class="form-control cpf" value="<%= @usuario.cpf %>" placeholder="CPF" type="text" name="cpf" id="cpf">
              </div>

              <div class="col-12" style="margin-top: 30px">
                <button class="button-default-green d-block w-100" onclick="promocao.updateUsuario(<%= @usuario.id %>, 'cpf', 'steptelefone', event)" >Próximo</button>
              </div>
            </div>

            <div id="steptelefone" class="col-12" style="display: none">

              <div class="box-progress">
                <div class="progress">
                  <div class="progress-bar" style="width: 80%;"></div>
                  <span>4 de 5 perguntas</span>
                </div>
              </div>

              <div class="col-12">
                <label style="color: #fff" for="telefone">Telefone</label>
                <input class="form-control telefone" value="<%= @usuario.telefone %>" placeholder="Telefone" type="text" name="telefone" id="telefone">
              </div>

              <div class="col-12" style="margin-top: 30px">
                <button class="button-default-green d-block w-100" onclick="promocao.updateUsuario(<%= @usuario.id %>, 'telefone', 'stepemail', event, true)" >Próximo</button>
              </div>
            </div>

            <div id="stepemail" class="col-12" style="display: none">

              <div class="box-progress">
                <div class="progress">
                  <div class="progress-bar" style="width: 100%;"></div>
                  <span>5 de 5 perguntas</span>
                </div>
              </div>

              <div class="col-12">
                <label style="color: #fff" for="email">E-mail</label>
                <input class="form-control" value="<%= @usuario.email %>" placeholder="E-mail" type="text" name="email" id="email">
              </div>
            </div>

            <div id="stepFim" style="display: none" class="col-12 mt-5 text-center">
              <a class="button-default-green d-block w-100" href="javascript:;" onclick="promocao.atualizar(this, <%= @pagina.id %>, <%= @pagina.produto_id %>);" placeholder="CVC" >Atualizar cadastro</a>
            </div>
          </div>
      </form>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
    <script type="text/javascript">
      $('.telefone').mask('(99) 99999-9999');
      $('.cpf').mask('999.999.999-99');
    </script>
  </div>
  <% end %>
<% end %>
