<script src="/funil/pagamento.js?<%= Time.now.to_i %>" ></script>
<script src="https://js.iugu.com/v2"></script>

<div class="col-lg-6 offset-lg-2" id="formCartao">
    <% if @preco.present?%>
    <h2 id="parcelado">R$ 1 x <%= @preco %></h2>
    <h1 id="total">R$ <%= @preco %></h1>
    <div class="card-wrapper mt-4"></div>

    <div class="form-container active mt-4">
        <form class="cartao">
            <div class="form-row form-container mt-4">
                <div class="col-12">
                    <input class="form-control" value="" placeholder="Número do cartão" type="tel" name="number" id="numeroCartao">
                </div>

                <div class="col-12">
                    <input class="form-control" value="" placeholder="Nome completo" type="text" name="name" id="nomeCartao">
                </div>
                
                <div class="col-4">
                    <input class="form-control" value="" placeholder="MM/AAAA" type="tel" name="expiry" id="mesAnoCartao">
                </div>
                
                <div class="col-4">
                    <input class="form-control" value="" placeholder="CVC" type="number" name="cvc" id="cvvCartao">
                </div>

                <div class="col-4">
                    <select class="form-control" name="parcelas" id="parcelas" style="height: 60px;margin-top: 10px;" onchange="promocao.reajuste_parcelas(this, <%= @preco.to_s.gsub(",", ".").to_f %>)">
                      <% total = @preco.to_s.gsub(",", ".").to_f %>
                      <% i = 0 %>
                      <% loop do %>
                        <% i += 1%>
                        <% break if (total < 5 || i > 12)%>
                        <option value="<%= i %>"><%= i %>x</option>
                        <% total -= 5 %>
                      <% end %>
                    </select>
                </div>
            </div>
        </form>
    <% end %>
    <% if @produto.present? && @produto.instance_variable_get("@table").keys.present? %>
        <p class="title-box mt-5">Aproveite e adicione</p>
        <div class="text-center box-promotion">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <img src="<%= @produto.foto %>" class="img-fluid"/>
                    <span style="color: #fff;">R$ <%= @produto.preco %></span>
                </div>

                <div class="col-lg-6 align-self-center">
                    <div class="video">
                        <iframe width="100%" height="150" src="<%= @produto.video_embed %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 align-self-center text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" value="<%= @produto.id %>" onclick="promocao.addCarrinhoCheckBox(this);" class="custom-control-input" id="maisProdutos">
                        <label class="custom-control-label -label-check" for="maisProdutos">Sim vou aproveitar! </label>
                    </div>
                </div>
            </div>
        </div>
        <% end %>

        <div class="total d-xs-block d-md-none">
            Total<br><span class="price">R$39,90</span>
        </div>

        <div class="col-12 mt-5 text-center">
            <button class="button-default-green d-block w-100" onclick="promocao.confirmarCompra(this, <%= @pagina.id %>, <%= @pagina.produto_id %>);" placeholder="CVC" >Efetuar pagamento</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="/99run/assets/js/jquery.card.js"></script>
<script>
    new Card({
        form: document.querySelector('form.cartao'),
        container: '.card-wrapper',
        placeholders: {
            number: '•••• •••• •••• ••••',
            name: 'Nome completo',
            expiry: '••/••••',
            cvc: '•••'
        },
    });

    promocao.motivoIntencao("Intencão de compra com cartão");


  promocao.reajuste_parcelas = function(el, valor){
    var parcelas = parseInt(el.value);
    if (parcelas == 1) 
        v_parcelado = valor;
    else
        v_parcelado = ((valor*(parcelas+2)/100) + valor) / parcelas;

    var total = v_parcelado * parcelas;
    var string_parcela = v_parcelado.toFixed(2).replace("\.", "\,");
    var string_total = total.toFixed(2).replace("\.", "\,");
    $("#parcelado").text(parcelas + " x R$ " + string_parcela);
    $("#total").text("R$ " + string_total);
  }
</script>

<style type="text/css">
    #total {
        text-align: center;
        font-size: 2em;
        color: #919191;
        margin-top: 0;
        /*color: #fff;
        text-align: center;
        font-size: 4.3em;
        margin-bottom: 0;
        margin-top: 0;*/
    }

    #parcelado {
        /*text-align: center;
        font-size: 2em;
        color: #919191;*/
        color: #fff;
        text-align: center;
        font-size: 4.3em;
        margin-bottom: 0;
    }
</style>

