<%= form_for(@chamada, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @chamada.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4>Confira os erros abaixo:</h4>

      <ul>
      <% @chamada.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :chamada_voice_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :chamada_voice_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :data_criacao, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.datetime_select :data_criacao, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ativa, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :ativa, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :url_gravacao, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :url_gravacao, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cliente_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :cliente_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :conta_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :conta_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ramal_id_origem, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :ramal_id_origem, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tags, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :tags, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status_geral, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :status_geral, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :origem_data_inicio, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.datetime_select :origem_data_inicio, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :origem_numero, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :origem_numero, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :origem_tipo, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :origem_tipo, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :origem_status, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :origem_status, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :origem_duracao_segundos, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :origem_duracao_segundos, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :origem_duracao, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.time_select :origem_duracao, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :origem_duracao_cobrada_segundos, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :origem_duracao_cobrada_segundos, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :origem_duracao_cobrada, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.time_select :origem_duracao_cobrada, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :origem_duracao_falada_segundos, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :origem_duracao_falada_segundos, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :origem_duracao_falada, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.time_select :origem_duracao_falada, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :origem_preco, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :origem_preco, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :origem_motivo_desconexao, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :origem_motivo_desconexao, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :destino_data_inicio, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.datetime_select :destino_data_inicio, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :destino_numero, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :destino_numero, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :destino_tipo, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :destino_tipo, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :destino_status, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :destino_status, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :destino_duracao_segundos, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :destino_duracao_segundos, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :destino_duracao, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.time_select :destino_duracao, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :destino_duracao_cobrada_segundos, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :destino_duracao_cobrada_segundos, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :destino_duracao_cobrada, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.time_select :destino_duracao_cobrada, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :destino_duracao_falada_segundos, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :destino_duracao_falada_segundos, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :destino_duracao_falada, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.time_select :destino_duracao_falada, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :destino_preco, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :destino_preco, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :destino_motivo_desconexao, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :destino_motivo_desconexao, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
