<div class="page-header">
  <%= link_to chamadas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_chamada_path(@chamada), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar chamada</h1>
</div>

<dl class="dl-horizontal">
  <dt>Chamada voice:</dt>
  <dd><%= @chamada.chamada_voice_id %></dd>
  <dt>Data criacao:</dt>
  <dd><%= @chamada.data_criacao %></dd>
  <dt>Ativa:</dt>
  <dd><%= @chamada.ativa %></dd>
  <dt>Url gravacao:</dt>
  <dd><%= @chamada.url_gravacao %></dd>
  <dt>Cliente:</dt>
  <dd><%= @chamada.cliente_id %></dd>
  <dt>Conta:</dt>
  <dd><%= @chamada.conta_id %></dd>
  <dt>Ramal id origem:</dt>
  <dd><%= @chamada.ramal_id_origem %></dd>
  <dt>Tags:</dt>
  <dd><%= @chamada.tags %></dd>
  <dt>Status geral:</dt>
  <dd><%= @chamada.status_geral %></dd>
  <dt>Origem data inicio:</dt>
  <dd><%= @chamada.origem_data_inicio %></dd>
  <dt>Origem numero:</dt>
  <dd><%= @chamada.origem_numero %></dd>
  <dt>Origem tipo:</dt>
  <dd><%= @chamada.origem_tipo %></dd>
  <dt>Origem status:</dt>
  <dd><%= @chamada.origem_status %></dd>
  <dt>Origem duracao segundos:</dt>
  <dd><%= @chamada.origem_duracao_segundos %></dd>
  <dt>Origem duracao:</dt>
  <dd><%= @chamada.origem_duracao %></dd>
  <dt>Origem duracao cobrada segundos:</dt>
  <dd><%= @chamada.origem_duracao_cobrada_segundos %></dd>
  <dt>Origem duracao cobrada:</dt>
  <dd><%= @chamada.origem_duracao_cobrada %></dd>
  <dt>Origem duracao falada segundos:</dt>
  <dd><%= @chamada.origem_duracao_falada_segundos %></dd>
  <dt>Origem duracao falada:</dt>
  <dd><%= @chamada.origem_duracao_falada %></dd>
  <dt>Origem preco:</dt>
  <dd><%= @chamada.origem_preco %></dd>
  <dt>Origem motivo desconexao:</dt>
  <dd><%= @chamada.origem_motivo_desconexao %></dd>
  <dt>Destino data inicio:</dt>
  <dd><%= @chamada.destino_data_inicio %></dd>
  <dt>Destino numero:</dt>
  <dd><%= @chamada.destino_numero %></dd>
  <dt>Destino tipo:</dt>
  <dd><%= @chamada.destino_tipo %></dd>
  <dt>Destino status:</dt>
  <dd><%= @chamada.destino_status %></dd>
  <dt>Destino duracao segundos:</dt>
  <dd><%= @chamada.destino_duracao_segundos %></dd>
  <dt>Destino duracao:</dt>
  <dd><%= @chamada.destino_duracao %></dd>
  <dt>Destino duracao cobrada segundos:</dt>
  <dd><%= @chamada.destino_duracao_cobrada_segundos %></dd>
  <dt>Destino duracao cobrada:</dt>
  <dd><%= @chamada.destino_duracao_cobrada %></dd>
  <dt>Destino duracao falada segundos:</dt>
  <dd><%= @chamada.destino_duracao_falada_segundos %></dd>
  <dt>Destino duracao falada:</dt>
  <dd><%= @chamada.destino_duracao_falada %></dd>
  <dt>Destino preco:</dt>
  <dd><%= @chamada.destino_preco %></dd>
  <dt>Destino motivo desconexao:</dt>
  <dd><%= @chamada.destino_motivo_desconexao %></dd>
</dl>
